body {
    background-color: #e6e6e6
}
div#header {
    background-color: black;
    height: 100px;
    width: 100%;
}
div#gnome {
    color: #dea821;
    float: left;
    padding-left: 25px;
    padding-right: 200px;
    font-size: 49px;
    padding-top: 20px;
}
div#text1 {
    color: grey;
    float: left;
    padding-top: 54px;
    font-size: 23px;
}
div#view {
    color: white;
    float: left;
    padding-left: 42px;
    font-size: 20px;
    padding-top: 53px;
}
div#content1 {
    background-image: url(assets/big_img.jpg);
    height: 477px;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: auto 477px;
}
p#pone {
    padding-top: 26px;
    padding-left: 20px;
    font-size: 43px;
    font-weight: lighter;
    color: #b3b3b3;
    font-family: 'Indie Flower', cursive;
}
p#ptwo {
    font-family: 'Indie Flower', cursive;
    margin-top: 21px;
    color: #A9A9A9;
}
hr {
    width: 339px;
    margin-left: -5px;
    margin-top: -6px;
}